.App > div {
  align-items: stretch;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  list-style-type: none;
  padding: 2rem;
  margin: 0;
  li {
    display: block;
    flex: 1;
  }
}

.App-content {
  color: #0f1726;
  background-color: #b3a790;
  margin: 0;
  padding: 2rem;
  flex: 1;
  button,
  input {
    color: inherit;
  }
}

.App-link {
  color: #868366;
  text-decoration: none;
  &:hover {
    color: #b3af90;
  }
  &:link {
    color: #866e66;
    &:hover {
      color: #b39990;
    }
  }
}
