.people-paginator {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  li {
    margin: 0.5rem 1rem;
    &:first-child {
      width: 100%;
    }
    button {
      padding: 0.5rem 1rem;
      cursor: pointer;
      &:disabled {
        cursor: not-allowed;
      }
    }
  }
}
