# This is a basic workflow to help you get started with Actions

name: Testing

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the 'master' branch
  push:
    branches:
      - master
  pull_request:
    branches:
      - development
      - master

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains an initial setup to checkout the project & get node ready
  testing:
    # The type of runner that the job will run on
    runs-on: self-hosted

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Retrivies repository from remote server
        uses: actions/checkout@v2

      - name: Injects github ref slug
        run: export GITHUB_REF_SLUG="${GITHUB_REF##*/}"

      # Gets branch name
      - name: Branch name
        run: echo "running on branch ${GITHUB_REF_SLUG}"

      # Sets-up node-js environment
      - name: Use Node.js 14
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      # Gets project dependencies
      - run: npm ci

      # Runs units tests
      - run: npx nx affected:test --base "${GITHUB_REF_SLUG}"

      # Runs 2e2 tests
      - run: npx nx affected:e2e --base "${GITHUB_REF_SLUG}"
